.yellow { 
  background-color: #FAF200; 
}

.green {
  background-color: #85F725; 
}

.orange {
    background-color: #F76A0C; 
}

.purple {
  background-color: #6300FA; 
}

.rosa {
  background-color: #E200F7;
}

.todo{
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  margin-bottom: 0.4rem;
  border-color: gray;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 1rem;
}

.todo h2{
  text-align: center;
}

.todo h4{
  text-align: left;
}

.todo p {
  text-align: center;
}