body {
    margin: 1rem auto;
    background: #666;
    color: #fff;
}

* {
    margin:0;
    padding:0;
}

.todo_header {
    font-size: 1rem;
    font-weight: bold;
}

.todo_content {
    font-size: 1rem;
    font-weight: normal;
}

.todo_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.todo {
    color: #000;
    display: block;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .15s linear;
    transform: rotate(6deg);
    position: relative;
}

.todo:hover, .todo:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

.yellow { 
    background-color: #f9f9c7; 
}

.green {
    background-color: #bef5be; 
}
  
.orange {
      background-color: #fdb98b; 
}
  
.purple {
    background-color: #c6c6fc; 
}
  
.rosa {
    background-color: #f0a3f7;
}
  